.navbar {
    display: flex;
    flex-direction: row;
    gap:1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

ul.navbar li:not(:nth-child(2)) {
    background-color: aliceblue;
    width: auto;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
}

.blank {
    flex: 1;
    background-color: transparent;
}